/*index styles*/

body {

    font-family:'Comfortaa', cursive;;

}

.side-bar.row ul li a {

    color: rgb(rgb(94, 88, 88), rgb(72, 77, 72), rgb(158, 158, 170)) ;

}
.imgCaro {

    width: 450px;
    height:500px;
}
  

/*index styles*/



