/*index styles*/

body{
	background: rgb(rgb(126, 116, 116), rgb(121, 128, 121), rgb(96, 96, 109));
	margin:0;
	font-family: 'Comfortaa', cursive;
	color:#fff;
    padding-left: 240px;
    overflow-x:hidden;
}
.menu{
	background: pink;
	height:100vh;
	width:240px;
	position:fixed;
	top:0;
	left:0;
	z-index:5;
    outline:none;
    overflow: hidden;
}	
.avatar{
background:grey;
padding:2em 0.5em;
text-align:center;
}
.avatar	img{
    width:100px;
    border-radius:50%;
    overflow:hidden;
    border:4px solid rgb(rgb(53, 45, 45), rgb(49, 63, 49), rgb(77, 77, 102));
    box-shadow:0 0 0 4px rgba(95, 78, 78, 0.2);
}

.menu .avatar h2{
    font-weight:normal;
    margin-bottom:0;
}

.menu ul{
list-style:none;
padding:0.5em 0;
margin:0;
}
.menu ul li{
    padding:0.5em 1em 0.5em 3em;
    font-size:0.95em;
    font-weight:regular;
    background-repeat:no-repeat;
    background-position:left 15px center;
    background-size:auto 20px;
    transition:all 0.15s linear;
    cursor:pointer;
}

.menu ul li a {
    color: #fff;
}

.menu ul li a:hover {
    text-decoration: none;
    color: #fff;
}
.menu ul li a:active , .menu ul li:hover {
    background-color: grey;
}    
    
.menu ul li:focus{
    outline:none;
}

.profileviews{
    color:grey;
    background-color: #f4f4f4;
    top:50%;
    margin: 15px;
    padding: 5px;
    font-weight:bold;
}
.profileviews .boxdesc p , .profileviews .boxdesc h4 {
    margin-top: 30px;
    font-size: 24px;
    font-weight: normal;
    text-align: justify;
    box-shadow: 2px 2px 0 solid gray;
}

.logo {
    width: 100%;
}

.box #favourites img {
    border-radius: 150px;
    width: 200px;
    height: auto;
}
.logo form.search {
    margin: -50px;
}
.sidebar {
    background-color: #f4f4f4;
    color: grey;
    margin-top: 15px;
    padding-top: 10px;
    width: inherit;
}
.sidebar .tags , .sidebar .news {
    margin-top: 15px;
    padding-top: 10px;
}
.sidebar .tags ul li {
    list-style: none;
    text-transform: uppercase;
    margin: 5px 3px 5px 3px  ;
}
.sidebar .tags ul li a {
    font-size: 0.6rem;
    
}
.sidebar .cats ul li {
    list-style: none;
}
.sidebar .cats ul li a {
    text-decoration: none;
    color: grey;
}


/*index styles*/

/*form pages*/
.logForm h2 , .regForm h2  {
    color: grey;
    text-align: center;
    font-weight: bold;
    font-family: 'Sacramento',cursive;
}
.logForm {
    margin: 20% 20% 32% 20%;
    padding: 50px;
}
.logForm button{
    margin-left: 135px;
}
.regForm button {
    margin-left: 180px;
}
.regForm {
    margin: 20% 20% 32% 20%;
    padding: 40px;
}